@media screen and (max-width: 767px) {
    :root {
        --container: 320px;
        --padding: 20px;
    }

    .heading {
        font-size: 30px;

        &_link {
            &-text {
                font-size: 30px;
            }
        }
    }

    .padding {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .home {
        .news {
            &-item {
                &_title {
                    font-size: 18px;
                }

                &:nth-child(n) {
                    grid-column: 1/-1;
                }
            }
        }
    }

    .block {
        padding: 30px 20px;
    }

    .container {
        min-width: var(--container);
        max-width: unset;
    }

    .logo {
        img {
            width: 55px;
        }

        &_text-bottom {
            display: none;
        }
    }

    .header {
        &-info {
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 20px;
        }

        &-main {
            align-items: center;
        }

        &-nav {
            li.menu-item-has-children {
                width: 100%;

                ul.sub-menu {
                    width: 100%;
                    padding-left: 5px;
                }
            }
        }
    }

    .home-first-hero {
        min-width: var(--container);
        margin: unset;
        display: flex;
        flex-direction: column-reverse;

        &_info {
            padding: var(--padding);
            margin: 0;
        }

        &_title {
            font-size: 30px;
        }

        &_description {
            font-size: 14px;
        }

        &_imgs {
            height: 100%;
    
            .swiper {
                height: 100%;
            }
    
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    .useful-links {
        flex-direction: column;
        margin: 40px auto 60px;

        &-outside {
            max-width: unset;
            width: 100%;
            padding: 25px;

            ul {
                display: flex;
                align-items: flex-start;
                row-gap: 15px;
            }
        }

        &-inside {
            width: 100%;

            ul {
                grid-template-columns: 1fr;
            }
        }
    }

    .partners {
        &-slider {
            column-gap: 15px;

            &_element {
                row-gap: 0;

                &-link {
                    padding: 0 20px;
                    max-width: 140px;
                }

                &-img {
                    width: 100px;
                }
            }

            &_navigation {
                &-btn {
                    padding: 10px;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    .footer {
        &-container {
            padding: 0 var(--padding);
        }

        &-top {
            flex-direction: column;
            row-gap: 30px;
        }

        &-logo {
            .logo {
                &_text {
                    display: flex;
                }
            }
        }

        &-nav {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }

        &-bottom {
            flex-direction: column-reverse;
            row-gap: 30px;
        }

        &-info {
            flex-direction: column;
            row-gap: 15px;
        }

        &-socials {
            column-gap: 20px;
            &_item {
                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: 767px) {
    :root {
        --container: 720px;
        --padding: 20px;
    }

    .heading {
        font-size: 30px;

        &_link {
            &-text {
                font-size: 30px;
            }
        }
    }

    .padding {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .block {
        padding: 40px 30px;
    }

    .home {
        .heading {
            margin: 0 0 30px;
        }

        .news {
            &-item {
                &_title {
                    font-size: 20px;
                }

                &:nth-child(n) {
                    grid-column: 1/-1;
                }
            }
        }
    }

    .home-first-hero {
        grid-template-columns: calc( (var(--container) - var(--padding)*2) / 2 ) calc(100vw / 2);
        width: calc( 100vw - (100vw - (var(--container) - var(--padding)*2) ) / 2 );
        margin-left: auto;
        display: grid;

        &_info {
            margin: 40px 40px 60px 0;
        }

        &_title {
            font-size: 30px;
        }

        &_description {
            font-size: 14px;
        }

        &_imgs {
            height: 100%;
    
            .swiper {
                height: 100%;
            }
    
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    .useful-links {
        flex-direction: column;
        margin: 40px auto 60px;

        &-outside {
            padding: 25px;
            max-width: unset;
            width: 100%;

            ul {
                display: flex;
                align-items: flex-start;
                row-gap: 15px;
            }
        }

        &-inside {
            width: 100%;

            ul {
                grid-template-columns: repeat(6, 1fr);
                
                li {
                    &:nth-child(7n+1),
                    &:nth-child(7n+3) {
                        grid-column: 1/4;
                    }
    
                    &:nth-child(7n+2),
                    &:nth-child(7n+4) {
                        grid-column: -1/-4;
                    }
    
                    &:nth-child(7n+5) {
                        grid-column: 1/3;
                    }
    
                    &:nth-child(7n+6) {
                        grid-column: 3/5;
                    }
    
                    &:nth-child(7n+7) {
                        grid-column: 5/7;
                    }
                }
            }
        }
    }

    .partners {
        &-slider {
            column-gap: 30px;

            &_element {
                row-gap: 10px;

                &-link {
                    padding: 0 20px;
                    max-width: 140px;
                }

                &-img {
                    width: 100px;
                }
            }

            &_navigation {
                &-btn {
                    padding: 12px;
                    
                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }

    .footer {
        &-top {
            flex-direction: column;
            row-gap: 30px;
        }

        &-logo {
            .logo {
                &_text {
                    display: flex;
                }
            }
        }

        &-nav {
            display: grid;
            grid-auto-columns: max-content;
            grid-template-rows: repeat(2, max-content);
            column-gap: 40px;
            row-gap: 20px;

            li {
                &:nth-child(2n+1) {
                    grid-row: 1/2;
                }

                &:nth-child(2n+2) {
                    grid-row: -1/2;
                }
            }
        }

        &-bottom {
            flex-direction: column;
            row-gap: 30px;
            text-align: left;
        }

        &-info {
            align-items: center;
            flex-direction: row;
            column-gap: 30px;
        }

        &-socials {
            column-gap: 30px;
        }
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --container: 960px;
        --padding: 30px;
    }

    .padding {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .heading {
        font-size: 36px;

        &_link {
            &-text {
                font-size: 36px;
            }
        }
    }

    .home {
        .heading {
            margin: 0 0 45px;
        }

        .news {
            &-item {
                &:nth-child(5n+1) {
                    grid-column: 1/2;
                }

                &:nth-child(5n+2) {
                    grid-column: -1/-2;
                }

                &:nth-child(5n+3),
                &:nth-child(5n+4),
                &:nth-child(5n+5) {
                    grid-column: 1/-1;
                }
            }
        }
    }

    .home-first-hero {
        &_info {
            margin: 60px 100px 80px 0px;
        }

        &_title {
            font-size: 36px;
        }

        &_description {
            font-size: 16px;
        }
    }

    .useful-links {
        margin: 60px auto;
        align-items: center;
        flex-direction: row;

        &-outside {
            max-width: 250px;
            padding: 35px 25px;
        }

        &-inside {
            ul {
                grid-template-columns: repeat(2, 1fr);
                
                li {
                    &:nth-child(7n+1),
                    &:nth-child(7n+3),
                    &:nth-child(7n+5) {
                        grid-column: 1/2;
                    }
    
                    &:nth-child(7n+2),
                    &:nth-child(7n+4),
                    &:nth-child(7n+6) {
                        grid-column: -1/-2;
                    }
    
                    &:nth-child(7n+7) {
                        grid-column: 1/-1;
                    }
                }
            }

        }
    }

    .partners {
        &-slider {
            &_element {
                row-gap: 15px;

                &-link {
                    padding: 0 30px;
                    max-width: 210px;
                }

                &-img {
                    width: 150px;
                }
            }
        }
    }

    .footer {
        &-top {
            flex-direction: row;
            align-items: center;
            column-gap: 30px;
        }

        &-logo {
            .logo {
                &_text {
                    display: none;
                }
            }
        }

        &-nav {
            flex-direction: row;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            column-gap: 30px;
        }
    }
}

@media screen and (max-width: 1181px) {
    .header-main {
        position: relative;
    }
    
    .header-nav-btn {
        display: block;
    }

    .header-nav {
        display: none;
        position: absolute;
        background-color: var(--white);
        width: 100%;
        top: 100%;
        z-index: 5;

        &-active {
            display: block;
        }
    }
}

@media screen and (min-width: 1181px) {
    :root {
        --container: 1140px;
        --padding: 40px;
    }

    .home {
        .news {
            &-item {
                &:nth-child(5n+1),
                &:nth-child(5n+4) {
                    grid-column: 1/2;
                }

                &:nth-child(5n+2),
                &:nth-child(5n+5) {
                    grid-column: -1/-2;
                }

                &:nth-child(5n+3) {
                    grid-column: 1/-1;
                }
            }
        }
    }

    .header-nav-btn {
        display: none;
    }

    .useful-links {
        &-inside {
            ul {
                grid-template-columns: repeat(6, 1fr);
                
                li {
                    &:nth-child(7n+1),
                    &:nth-child(7n+3) {
                        grid-column: 1/4;
                    }
    
                    &:nth-child(7n+2),
                    &:nth-child(7n+4) {
                        grid-column: -1/-4;
                    }
    
                    &:nth-child(7n+5) {
                        grid-column: 1/3;
                    }
    
                    &:nth-child(7n+6) {
                        grid-column: 3/5;
                    }
    
                    &:nth-child(7n+7) {
                        grid-column: 5/7;
                    }
                }
            }

        }
    }

    .footer {
        &-bottom {
            flex-direction: row;
            align-items: center;
            column-gap: 30px;
        }

        &-info {
            flex-direction: row-reverse;
        }

        &-copyrights {
            text-align: right;
        }
    }
}