:root {
    --black: #1A1A1A;
    --gray: rgba(0, 0, 0, 0.6);
    --primary: #00465F;
    --white: #fff;
    --light-solid: #F5F8FF;
    --light-gradient: linear-gradient(180deg, #F5F8FF 52.08%, #FFFFFF 100%);
    --dark-gradient: linear-gradient(180deg, #00759F 0%, #00465F 100%);

    --container: 1140px;
    --padding: 40px;
}